body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  Styles to show demo on vercel: */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*  Styles "before" to show demo on vercel: */
body::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 1146px;
  height: 1146px;
  right: -750px;
  top: 50px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(194, 131, 194, 0.44) 0%, rgba(194, 131, 194, 0) 100%);
  opacity: 0.7;
}

/*  Styles "after" to show demo on vercel: */
body::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 1228px;
  height: 1228px;
  left: -742px;
  top: -50px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(40, 94, 176, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
